<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/login">Login</a>
  <a href="/pets">Pet list</a>
  <a href="/clinics">Clinic list</a>
</div>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do%>

  <%= label_tag "name", "Name:" %>
  <%= text_field_tag "name"%><br>

  <%= label_tag "password", "Password:" %>
  <%= text_field_tag "password"%>
  <input type=submit value='login'><br>
  Or <%= link_to('Login with Facebook', '/auth/facebook') %>
  Or <%= link_to('sign up', '/owners/new') %>
<% end %>
