<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/login">Login</a>
  <a href="/pets">Pet list</a>
  <a href="/clinics">Clinic list</a>
</div>

<%= render partial: "pets/flash", locals: {key: 'message'} %>

<h2>Login Form</h2>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do%>
<table>
  <tr>
  <th><%= label_tag "name", "Name:" %></th>
  <td><%= text_field_tag "[owner]name"%></td>
  </tr>
  <tr>
  <th><%= label_tag "password", "Password:"%></th>
  <td><%= password_field_tag "[owner]password"%></td>
  <td><input type=submit value='login'><br></td>
  </tr>
  <tr>
  <td></td>
  <td><%= link_to('Login with Facebook', '/auth/facebook') %></td>
  <td><%= link_to('sign up', '/owners/new') %></td>
</tr>
</table>
<% end %>
