<!DOCTYPE html>
<html>
  <head>
    <title>Pet-Management-System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/pets">Pet list</a>
      <a href="/clinics">Clinic list</a>
    </div>
    <%= yield %>
  </body>
</html>
